// input [readonly], .form-control[readonly] {
//   background-color: white;
// }
.lh-50 {
  line-height: 6rem;
}

.mt-2rem {
  margin-top: 2rem !important;
}

.editor {
  height: 300px;
  overflow: auto;
}
