<div class="ui top attached label">

    <button (click)="remove()"
            *ngIf="showControls || globalOptions.enableHover" class="compact ui button right floated">
        <i class="trash icon" style="margin-right:0 !important"></i>
    </button>
    <button (click)="toggleConfigMode()"
            *ngIf="showControls || globalOptions.enableHover && showConfigurationControl" class="compact ui button right floated">
        <i class="setting  icon" style="margin-right:0 !important"></i>
    </button>
    <button (click)="help()"
            *ngIf="showControls || globalOptions.enableHover" class="compact ui button right floated">
        <i class="info icon" style="margin-right:0 !important"></i>
    </button>

    <dashboard-gadget-operation-control (runEvent)="run()"
                                        (stopEvent)="stop()"
                                        *ngIf="showControls || globalOptions.enableHover"
                                        [actionInitiated]="actionInitiated"
                                        [gadgetHasOperationControls]="gadgetHasOperationControls"
                                        [inConfig]="inConfig"
                                        [inRun]="inRun"
                                        [showOperationControls]="showOperationControls">

    </dashboard-gadget-operation-control>

    <div class="ui top left floated label ct-title">{{title}}</div>
</div>
<div class="spacer"></div>
