<!-- <div class="ui centered stackable grid" style="margin-left: 5px; margin-right: 5px"
>
    <div *ngFor="let row of model.rows; let r = index" [ngClass]="{'short-row': row.columns.length > 3, 'tall-row': row.columns.length <= 3 }"
         class="row">

        <ng-container cdkDropListGroup>
            <div (cdkDropListDropped)="updateGadgetPositionInBoard($event, c , r, 'column')" *ngFor="let col of row.columns; let c = index" cdkDropList
                 class="{{col.styleClass}} column">

                <div *ngIf="!col.gadgets || col.gadgets.length== 0" [ngClass]="{'short-row': row.columns.length > 3, 'tall-row': row.columns.length <= 3 }"
                     class="ui center aligned massive info message"
                     style="text-align:center">

                    <span style="font-size: .75em">Add Gadget!</span>

                </div>

                <dashboard-grid-cell *ngFor="let cellGadget of col.gadgets" [cdkDragData]="cellGadget.instanceId" [gadgetConfig]="cellGadget.config"
                                     [gadgetInstanceId]="cellGadget.instanceId"
                                     [gadgetTags]="cellGadget.tags"
                                     [gadgetType]="cellGadget.componentType"
                                     cdkDrag
                                     class="target-box"
                                     style="display:inline-block; width:100%"
                >
                    <div *cdkDragPlaceholder class="target-box-placeholder"></div>
                </dashboard-grid-cell>
            </div>
        </ng-container>
    </div>
</div> -->

<style>
    .grister-custom {
        height: 100vh;
    }
</style>


<div class="ui centered " style="margin-left: 5px; margin-right: 5px">
    <gridster [options]="options" class="grister-custom">
        <gridster-item [item]="item" *ngFor="let item of model.orderGadgets">
            <dashboard-grid-cell [gadgetConfig]="item.gadget.config" [gadgetInstanceId]="item.gadget.instanceId"
                [gadgetTags]="item.gadget.tags" [gadgetType]="item.gadget.componentType" class="target-box"
                style="display:inline-block; width:100%">
                <div class="target-box-placeholder"></div>

            </dashboard-grid-cell>
        </gridster-item>
    </gridster>

</div>










<dashboard-toast></dashboard-toast>